// colors
$white: #252525;
$black: #000000;
$github-primary: #24292e;
$github-secondary: #30363c;
$github-text-primary: #0366d6;
$github-sponsor-primary: rgb(234, 74, 170);

$body-bg: #252525;
$module-bg: $white;
$module-bg-darken: #252525;

$text-color: #353535;
$text-secondary: lighten($text-color, 20%);
$link-color: $black;
$text-reverse: $module-bg-darken;

// sizes
$container-width: 960px;

// times
$transition-time-fast: .15s;
$transition-time-normal: .25s;
$transition-time-slow: .38s;

// fonts
$font-size-base: 14px;
$font-size-large: $font-size-base * 1.1; // ~15.4px
$font-size-huge: $font-size-base * 1.3; // ~19px
$font-size-small: $font-size-base * .888; // ~12.4px
$iconfont-size: $font-size-base * 1.35;

.swiper {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: $font-size-huge * 2;
    background-color: $white;
  }
}
